* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #ff00ff 4%, #ffccff 96%) !important;
    height: 100%;
    width: 100%;
}

.input_group {
    display: flex;
    i {
        font-size: 30px;
    }
}

.social_icon {
    i {
        font-size: 50px;
        margin: 0 1.2rem;
    }
}

.SignUpBlock {
    a {
        margin-left: 1.2rem;
    }
}

.custom_card {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px;
}