* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.dayOfWeed {
    display: flex;
    width: 100%;
    .days {
        width: 14.2%;
    }
}

.box_shadow {
    box-shadow: 5px, 5px, 3px, black;
    margin: 1rem 0;
}

.wtData {
    .cityData {
        display: flex;
        .CityName {
            margin-left: 70%;
        }
    }
    .wind {
        width: 100%;
        display: flex;
        #WindSpeed {
            margin-left: 80%;
        }
    }
    .sunrise {
        display: flex;
        #sunriseTime {
            margin-left: 35%;
        }
    }
    .sunset {
        display: flex;
        #sunsetTime {
            margin-left: 35%;
        }
    }
}