body
{
    margin: 0;
    padding: 0;
    background-image: url(angrl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   

}
#btnYes
{
    position: absolute;
    top: 40%;
    left: 20%;
    padding: 15px 50px;
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    border-radius: 40px;
}
#btnNo
{
    position: absolute;
    top: 40%;
    left: 55%;
    padding: 15px 50px;
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    border-radius: 40px;
}
#title
{
    text-align: center;
    color: #b83b3b;
}
