*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    font-size: 90%;
    background-color: white;
}
.head
{
    background-color: rgb(238, 230, 230);
}
.head h2
{
    display: inline-block;
    margin-right: 20px;
    padding: 20px;
}
.head h2:hover
{
    background-color: rgb(209, 153, 32);
    color: white;
}
.bpx 
{
    float: right;
    margin-right: 20px; 
}
.bpx h2
{
    padding: 20px;
}
.bpx h2:hover
{
    background-color: rgb(209, 153, 32);
    padding: 20px;
    color: white;
}
.main
{
    display: flex;
}
.intro
{
    flex: 50%;
    margin-left: 20px;
}
.intro:hover
{
    background-color:  rgb(245, 245, 245);
}
.e
{
    flex: 50%;
}
.e:hover
{
    background-color:  rgb(245, 245, 245);
}
b:hover
{
    background-color: orange;
    color: white;
}