*{
	box-sizing: border-box;
}
body
{
	margin: 0;
	padding: 0;
}
.header
{
	text-align: center;
	padding: 80px 0px;
	margin-bottom: 5px; 
	background: #0AE8DA	;
	color: white;
}
#content
{
	font-size: 25px;

}
.content
{
	width: 100%;
	text-align: center;
}
.footer
{
	text-align: center;
	padding: 80px 0px;
	margin-bottom: 5px; 
	background: #0AE8DA	;
	color: white;
}
#btn
{
	text-align: center;
	margin: 40px 0;
}
#btn > a
{
	padding: 25px 45px;
	text-decoration: none;
	background: #0AE8DA;
	color: red;
	font-weight: bold;

}